
<h1>Welcome to the Best Blog Ever (BBE)!</h1>


<p> Which blog would you like to see?</p>
<br>
<!-- <% @pages.reverse_each do |page| %>
	<a href="#" style="display: inline-block" onclick="toggle_visibility('<%= page.header %>');"><%= page.header %></a>
	<div id="<%= page.header %>">
		<p><%= page.article %></p>
		<p><i>tag: <%= page.tag %></i></p>
		<p style="font-size: 0.7em"><i>Updated: <%= page.updated_at %></i></p>
		<p>---------------------------</p>
	</div>
	<br>
<% end %>  -->

