<h3>#<%= @tag.name %></h3>
<br>
<% @tagposts.each do |tagpost| %>
		<table>
		<tr><th><%= @users.find(@pages.find(tagpost.page_id).user_id).title %></th></tr>	
	  <tr><th><%= @pages.find(tagpost.page_id).header %></th></tr>
		<tr><td><%= @pages.find(tagpost.page_id).article %></td></tr>
		<tr><td><i>Updated: <%= @pages.find(tagpost.page_id).updated_at %></i></td></tr>
		<tr><td><% @pages.find(tagpost.page_id).tagposts.each do |tagpost| %>
				#<a href="/tags/<%= @tags.find(tagpost.tag_id).id %>" style="text-decoration: none"><%= @tags.find_by(id: tagpost.tag_id).name %></a>
		<% end %></td></tr>
		<!-- </div> -->
		</table>
		<br>
		<br>
	<% end %>