
<hr>
<h2 style="display: inline-block">Welcome <%= current_user.username %>!</h2>

<form action="/entries/new" method="get" style="display: inline-block; margin-left: 20px">
  <input type="submit" value="Add New Post">
</form>

<br>

	<% current_user.@pages.reverse_each do |page| %>
	 <h3 style="display: inline-block"><%= page.header %></h3>
	 <a href="#" onclick="toggle_visibility('<%= page.header %>');"><%= page.header %></a>
	 <div id="<%= page.header %>">
 		<form action="/entries/edit/<%= page.id %>" method="get" style="display: inline-block; margin-left: 20px">
  		<input type="submit" value="Edit Entry">
		</form>
		<form action="/entries/<%= page.id %>" method="post" style="display: inline-block; margin-left: 20px">
			<input type="hidden" name="_method" value="delete">
  		<input type="submit" value="Delete Entry">
		</form>
		<p><%= page.article %></p>
		<p><i>tag: <%= page.tag %></i></p>
		<p style="font-size: 0.7em"><i>Updated: <%= page.updated_at %></i></p>
		<p>---------------------------</p>
	</div>
<% end %>

<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
-->
</script> -->

